.skillsWrapper {
    background-color: #7ab67a;
    height: 80vh;
    width: 100%;
}
.skillsContainer{
    justify-content: flex-start;
    flex-direction: column;
}
.title{
    background-color: #2aa2b2;
}
.skills{
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
