@import "/src/Common/Styles/variables";

.skillsWrapper {
  position: relative;
  background-color: $backGroundColor;
  //opacity: 0.4;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 100px;
  &::before{
    content:'';
    position: absolute;
    inset: 0;
    background-color: $backGroundColor;
    width: 500px;
    height: 500px;
    transform: rotate(45deg);
    z-index: -1;
  }
  &::after{
    content:'';
    position: absolute;
    top: 50%;
    left: 60%;
    background-color: $backGroundColor;
    width: 500px;
    height: 500px;
    transform: rotate(45deg);
    z-index: 0;
  }

  .skillsContainer {
    justify-content: flex-start;
    flex-direction: column;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
z-index: 1;
    }
  }
}

@media  (max-width: 768px), (min-width: 768px){
  .skillsWrapper{
    .skillsContainer{
      .skills{
        justify-content: center;
      }
    }
  }
}


