@import "/src/Common/Styles/variables";

.skillsWrapper {
  background-color: $backGroundColor;
  min-height: 760px;
  width: 100%;
  padding-bottom: 100px;

  .skillsContainer {
    justify-content: flex-start;
    flex-direction: column;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

    }
  }
}

@media  (max-width: 768px), (min-width: 768px){
  .skillsWrapper{
    .skillsContainer{
      .skills{
        justify-content: center;
      }
    }
  }
}


