@import "variables";

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 100px;

  .item {
    width: 1000px;
    height: 1000px;
  }

  .components {
    position: relative;
    width: 100%;
    height: 100%;

  }

  .layers {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    transform-style: preserve-3d;
    z-index: -1;

    .firstLayer {
      font-family: 'Merriweather', serif;
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
      background-image: url("./../../assets/image/bbt.jpg");
      transform: translateZ(-50px) scale(1.5);
      text-align: center;
      @media screen and (max-width: 768px){
        margin-top: 100px;
      }

      blockquote{
        @include blockQuote(40px);
        @media screen and (max-width: 768px){
          @include blockQuote(30px);
          margin: 40% auto;
        }

        p{
          @include paragraph(30px);
        }

      }

    }

    .secondLayer {
      font-family: 'Merriweather', serif;
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
      background-image: url("./../../assets/image/bbtRev.jpg");
      transform: translateZ(-50px) scale(1.5);
      text-align: center;
      @media screen and (max-width: 768px){
        margin-top: 1500px;
      }

      blockquote{
        @include blockQuote(40px);
        @media screen and (max-width: 768px){
          @include blockQuote(30px);
        }
        p{
          @include paragraph(30px);
        }

      }
    }

    .thirdLayer {
      font-family: 'Merriweather', serif;
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
      background-image: url("./../../assets/image/bbt.jpg");
      transform: translateZ(-50px) scale(1.5);
      text-align: center;
      @media screen and (max-width: 768px){
        margin-top: 1500px;
      }

      blockquote{
        @include blockQuote(40px);
        @media screen and (max-width: 768px){
          @include blockQuote(30px);
        }

        p{
          @include paragraph(30px);
        }

      }
    }
  }
}

//.firstLayer{
//  position: absolute;
//  height: 80%;
//  width: 100%;
//  object-fit: cover;
//  z-index: -1;
//  background-image: url("./../../assets/image/wbg2.jpg");
//  transform: translateZ(-50px) scale(1.5);
//}