@import "./src/Common/Styles/variables.scss";

.aboutMeWrapper {
  background-color: $secondBackGround;
  //opacity: 0.8;
  min-height: 100vh;
  width: 100%;
  padding: 100px 0;
  &::before{
    content:'';
    position: absolute;
    top: 72%;
    left: 60%;
    background-color: $secondBackGround;
    width: 500px;
    height: 500px;
    transform: rotate(45deg);
    z-index: 0;
    @media  (max-width: 768px){
      width: 300px;
      height: 450px;
    }
  }


  .text {
    font-size: 30px;
    border-radius: 15px;
    background-color:$secondPrimaryColor;
    padding: 50px;
    margin-bottom: 20px;
    z-index: 1;

    h1{
      margin: 0;
    }
  }
  .photo {
    width: 500px;
    height: 700px;
    background-color: $backGroundColor;
    border-radius: 15px;
    z-index: 1;

  }
}

@media  (max-width: 360px){
  .aboutMeWrapper{
    width: 360px;
    display: flex;
    .text{
      padding: 20px;
      width: 360px;
      font-size: 18px;
    }
    .photo{
      width: 360px;
      max-height: 440px;
    }
  }
}

@media  (max-width: 768px){
  .aboutMeWrapper{
    .text{
      padding: 20px;
      font-size: 18px;
    }
    .photo{
      max-height: 440px;
    }
  }
}


