@import './src/Common/Styles/variables';
.nav{
  position: fixed;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 230px;
  margin-right: 20px;
  z-index: 5;
  .toggle{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $secondBackGround;
    padding: 5px 0;
    &:before{
      content: 'Close';
      margin-right: 20px;
    }
    span {
      position: relative;
      width: 20px;
      height: 50px;
      margin-right: 20px;

      &:before{
        content: '';
        position: absolute;
        top: 24px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $secondBackGround;
        transition: 0.5s;
        transform: rotate(225deg);

      }
      &:after{
        content: '';
        position: absolute;
        bottom: 24px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $secondBackGround;
        transition: 0.5s;
        transform: rotate(135deg);
      }
    }
  }
  ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      position: relative;
      list-style: none;
      transition: 0.5s;


      a {
        position: relative;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        height: 50px;
        background-color: #fff;
        color: $secondBackGround;
        transition: 0.5s;
        &:hover{
          background-color: $backGroundColor;
          color: #fff;
          transition: 0s;
        }
      }
    }
  }
}