@import "./src/Common/Styles/variables.scss";
.worksWrapper {
    background-color: $secondBackGround;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 100px;
    &::before{
      content:'';
      position: absolute;
      inset: -60px;
      background-color: $secondBackGround;
      width: 500px;
      height: 500px;
      transform: rotate(30deg);
      z-index: -1;
    }

    .worksContainer{
        justify-content: flex-start;
        flex-direction: column;
        .workTitle{
            background-color: #b7b6b6;
        }
        .projects {
             display: flex;
             justify-content: space-between;
             width: 100%;
             min-height: 100px;
             margin-top: 50px;
             flex-wrap: wrap;
         }
    }
}

@media  (max-width: 768px), (min-width: 768px){
  .worksWrapper{
    .worksContainer{
      .projects{
        justify-content: center;
      }
    }
  }

}

